.cart {
    background-color: brown;
    position: absolute;
    padding: 20px 0;
    /* right: -10%; */
    /* top: 101px; */
    /* right: 0; */
    display: flex;
    flex-direction: column;
    animation: fadeIn;
    z-index: 1000;
    justify-content: space-between;
    /* overflow: scroll; */
    height: 80vh;
    width: 400px;
}
.cart__items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    /* background
    -color: brown; */
}
.cart__total {
    text-align: center;
}
.cart.show {
    display: flex;
}
.cart.hide {
display: none;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}