.display-items {
   display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
    max-width: 1200px;
    justify-content: center;
}
.container {
    display: flex;
    background-color: black;
    justify-content: center;
}
.display-items.darken {
    opacity: 0.3;
}